/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Mixins */
/*  Colors */
/* Basic settings */
html {
  font-size: 10px;
}
.button {
  font-family: 'ProximaNova_bold', sans-serif;
  background-color: #fcb203;
  color: #ffffff;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-color: #d99903;
}
input:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  background: #ffffff url(../img/main-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 1.5rem 0 10rem;
}
.main .phone-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  color: #1a1820;
}
.main .header-btn {
  font-size: 1.2rem;
}
.main .header-mob-btn {
  display: none;
}
.main .header-desktop-btn {
  display: block;
}
.main-content {
  margin-top: 10rem;
}
.main-content-title {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.4;
  color: #1a1820;
}
.main-content-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 2.4rem;
  color: #1a1820;
  margin-top: 5rem;
  line-height: 1.05;
}
.main-content-bar {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 3rem 4rem 2rem;
  display: inline-block;
  text-align: center;
  margin-top: 6rem;
  background-color: #48bd15;
}
.main-content-trigger {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
.main-form {
  background-color: #ffffff;
  padding: 3rem 4rem;
  margin-bottom: 3rem;
  text-align: center;
}
.main-form-title {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
}
.main-form-title strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 2rem 0;
  font-size: 1.8rem;
}
.main-form-label {
  background-color: #ffffff;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
}
.main-form-button {
  display: block;
  width: 100%;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-form-footer {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
}
/*Блок с преимуществами*/
.features {
  text-align: center;
}
.features .section-header {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.features-img {
  height: 31rem;
}
.features-img img {
  display: block;
  height: 6rem;
  margin: 12rem auto 6rem;
}
.features-img h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-img p {
  display: inline-block;
  width: 80%;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.4rem;
}
.slick-active {
  outline: none;
}
.prev {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  background: url(../img/prev-arrow.svg) center no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
  background-size: 100%;
  left: 0;
  top: 50%;
  transform: scaleY(-50%);
}
.prev:focus {
  outline: none;
}
.next {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  background: url(../img/next-arrow.svg) center no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
  background-size: 100%;
  right: 0;
  top: 50%;
  transform: scaleY(-50%);
}
.next:focus {
  outline: none;
}
@media (max-width: 767px) {
  .main {
    text-align: center;
  }
  .main .phone-link {
    text-align: center;
  }
  .main .header-desktop-btn {
    display: none;
  }
  .main .header-mob-btn {
    display: block;
  }
}
@media (max-width: 991px) {
  .main-content-add {
    text-align: center;
  }
  .main-content-subtitle {
    display: inline-block;
  }
  .main-content-bar {
    margin-left: 5rem;
    display: inline-block;
  }
  .main-form {
    margin-top: 5rem;
  }
}
@media (max-width: 767px) {
  .main-content-bar {
    display: block;
    width: 22rem;
    margin: 2rem auto;
  }
}
/* Mobile friendly */
@media (max-width: 575px) {
  .main {
    background: #ffffff url(../img/main-bg.jpg) 0 6rem no-repeat;
    background-size: cover;
    text-align: center;
  }
  .main-logo {
    margin-top: 6rem;
  }
  .main .phone-link-mob {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2rem 0;
  }
  .main .phone-link-mob .phone-link {
    font-size: 1.4rem;
    text-align: left;
  }
  .main .header-desktop-btn {
    display: none;
  }
  .main .header-mob-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 0;
  }
  .main .header-mob-btn button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
  .main-content {
    margin-top: 4rem;
  }
  .main-content-title {
    font-size: 2.2rem;
  }
  .main-content-subtitle {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
  .main-content-bar {
    margin-top: 3rem;
    margin-left: 0 auto;
  }
  .main-content-trigger {
    font-family: 'ProximaNova_bold', sans-serif;
    font-size: 1.9rem;
    margin-top: 2rem;
  }
  .main-form {
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .main-form-title {
    font-size: 1.7rem;
  }
  .main-form-title strong {
    font-size: 1.7rem;
  }
  .main-form-input {
    font-size: 1.5rem;
  }
  .main-form-footer {
    font-size: 1.2rem;
  }
}
